---
const {label, size, placeholder, type} = Astro.props;
---

<label for={label} class="flex gap-2 flex-col">{label}
    <input type={type} id={label} placeholder={placeholder} name={label} 
        class="bg-zinc-900 px-2 py-3 rounded-lg"/>
</label>